# Product Sentiment Analysis

- In this **Notebook** we have collected the Products of e-commerce companys like (**Amazon,Flipkart,Snapdeal**)
- Products : **Books, Video Games,Camera & Photo Accessories, Beauty And Personal Care,Travel accessories.**

### Import Libraries

In [1]:
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import datetime
import csv
import tweepy as tw
import numpy as np
import pandas as pd

In [2]:
consumer_key = 'LjKBLkIIpWEpqMgJ8VN9KmZ1l'
consumer_secret = '9ughUrd6fNQumas0ekT4K0AZYNoEawcAfTnDjjktGzdETHGV0V'
access_token = '1223254803926487041-kc8wl3AuTxPhrY2knZ23Qrz55vO9op'
access_token_secret = 'PEgT3rXnFELOhFmHpR5ZdLgDwHrsejEGttNwsKmqP6E0N'

In [3]:
auth = tw.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tw.API(auth,wait_on_rate_limit=True)

# Amazon Products
### Books

In [4]:
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%amazonIN -filter:retweets" + "Books -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_Amazon = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_Amazon

Enter how many tweets to search: 600

,user,location,source,text
0,VINODVA10591208,,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...
1,idubeynirbhay,"New Delhi, India",Twitter Web App,@amazonIN payment getting declined repeatedly.
2,aliyaqut,India,Twitter for iPhone,@Flipkart @Paytm @zomato Why don't you guys or...
3,VINODVA10591208,,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...
4,PavanZzz,,Twitter Web App,"@amazonIN Hi, I need to give out gift vouchers..."
...,...,...,...,...
595,mewada_amit,,Twitter Web App,Nice contest @amazonIN \n#DailyQuizTime https:...
596,sophia_marie84,"New York, USA",Twitter for Android,@sufiyanmalik_ @amazonIN @AmazonHelp Amazon be...
597,sandeepsonline,"Mumbai, Maharashtra",Twitter for Android,Try your luck on @amazonIN with #AmazonFunzone...
598,Vishnu2194Aang,"Palakkad, kerala",Twitter Web App,@SachinVinta @amazonIN @amazon I got it
599,VinothK51329284,"Chennai, India",Twitter Web App,Good day guys am eligible for winner of #Amazo...

In [5]:
tweet_Amazon.to_csv("Amazon_book.csv",index=False)

In [6]:
AmazonBook = pd.read_csv("Amazon_book.csv")
AmazonBook["product"] = "Books"
AmazonBook.to_csv("Amazon_book.csv", index=False)

### Video Games

In [7]:
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%amazonIN -filter:retweets" + "Video Games -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_Amazon = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_Amazon

Enter how many tweets to search: 600

,user,location,source,text
0,AnkitAroraEdits,"Havana, Cuba",Twitter for Android,Just so disappointed with @amazonIN \nAs you p...
1,Venkey_3,Visakhapatnam ; India,Twitter for Android,I played this interesting Quiz on Amazon-Play ...
2,Venkey_3,Visakhapatnam ; India,Twitter for Android,I played this interesting Quiz on Amazon-Play ...
3,v2kumbhar,India,Twitter for Android,I played this interesting #AmazonPictionaryQui...
4,sachinporwal6,"Jhalrapatan, India",Twitter for Android,I played this interesting Quiz on Amazon-Play ...
...,...,...,...,...
81,m4jain,,Twitter for Android,#AmazonQuiz\n@amazonIN\nI played this interest...
82,gyagnesh,Ahmedabad,Twitter for Android,I played this interesting Quiz on Amazon-Play ...
83,RaviKum75193040,,Twitter for Android,I played this interesting Quiz on Amazon-Play ...
84,Champ_Sappy,India,Twitter for Android,I played this interesting Quiz on Amazon-Play ...
85,BirjuDamani,mumbai,Twitter for Android,I played this interesting Quiz on Amazon-Play ...

In [8]:
tweet_Amazon.to_csv("Amazon_games.csv",index=False)

In [9]:
Amazongames = pd.read_csv("Amazon_games.csv")
Amazongames["product"] = "Video Games"
Amazongames.to_csv("Amazon_games.csv", index=False)

### Camera & Photo Accessories

In [10]:
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%amazonIN -filter:retweets" + "Camera -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_Amazon = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_Amazon

Enter how many tweets to search: 600

,user,location,source,text
0,VINODVA10591208,,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...
1,idubeynirbhay,"New Delhi, India",Twitter Web App,@amazonIN payment getting declined repeatedly.
2,aliyaqut,India,Twitter for iPhone,@Flipkart @Paytm @zomato Why don't you guys or...
3,VINODVA10591208,,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...
4,PavanZzz,,Twitter Web App,"@amazonIN Hi, I need to give out gift vouchers..."
...,...,...,...,...
595,mewada_amit,,Twitter Web App,Nice contest @amazonIN \n#DailyQuizTime https:...
596,sophia_marie84,"New York, USA",Twitter for Android,@sufiyanmalik_ @amazonIN @AmazonHelp Amazon be...
597,sandeepsonline,"Mumbai, Maharashtra",Twitter for Android,Try your luck on @amazonIN with #AmazonFunzone...
598,Vishnu2194Aang,"Palakkad, kerala",Twitter Web App,@SachinVinta @amazonIN @amazon I got it
599,VinothK51329284,"Chennai, India",Twitter Web App,Good day guys am eligible for winner of #Amazo...

In [11]:
tweet_Amazon.to_csv("Amazon_camera.csv",index=False)

In [12]:
Amazoncamera = pd.read_csv("Amazon_camera.csv")
Amazoncamera["product"] = "Camera & Photo Accessories"
Amazoncamera.to_csv("Amazon_camera.csv", index=False)

### Beauty And Personal Care

In [13]:
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%amazonIN -filter:retweets" + "Health Care -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_Amazon = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_Amazon

Enter how many tweets to search: 600

,user,location,source,text
0,king_gagan,Delhi,Twitter for iPhone,@AmazonHelp @amazonIN @AmazonHelp @JeffBezos @...
1,_Neha_Anand_,"Dehradun, India",Twitter Web App,Some customer care executives said that the de...
2,MrPanchanan,Dhenkanal,Twitter for Android,Unable reschedule door step kyc for amazonpay ...
3,guptaprakhar12,,Twitter for Android,I am not able to do video kyc for amazon icici...
4,inderrajvyas,,Twitter for Android,@amazonIN @amazon I have tweeted for order no...
...,...,...,...,...
300,MarathiBhaiya,भारत 🇮🇳,Twitter for Android,"@amazonIN \nTake care Amazon, your seller send..."
301,Irfankool2,Kolkata,Twitter for Android,Most bakwas ghatiya customer care services by ...
302,KavindraKulkar1,,Twitter for iPhone,@D_Roopa_IPS Request you to reach out to @amaz...
303,underworldimage,Detroit Chicago Nuuk Bangkok,Twitter Web App,@LatherMallika @ShieldVoC @amazon @AmazonHelp ...
304,syednabeell,,Twitter for Android,@rahdisas @XiaomiIndia @amazonIN This is all y...

In [14]:
tweet_Amazon.to_csv("Amazon_care.csv",index=False)

In [15]:
Amazoncare = pd.read_csv("Amazon_care.csv")
Amazoncare["product"] = "Beauty & Care"
Amazoncare.to_csv("Amazon_care.csv", index=False)

### Travel accessories.

In [16]:
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%amazonIN -filter:retweets" + "Travel -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_Amazon = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_Amazon

Enter how many tweets to search: 600

,user,location,source,text
0,srhonakatti,,Twitter for Android,@GyaanduLadka @amazonIN @AmazonHelp @amazon If...
1,sanand_satwik,"Bengaluru, India",Twitter Web App,My AMAZON PAY was disabled and I'm not getting...
2,VINODVA10591208,,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...
3,idubeynirbhay,"New Delhi, India",Twitter Web App,@amazonIN payment getting declined repeatedly.
4,aliyaqut,India,Twitter for iPhone,@Flipkart @Paytm @zomato Why don't you guys or...
...,...,...,...,...
595,__Monsees__,"Kochi, India",Twitter for Android,Day 83 and counting. Any update yet @amazon on...
596,mewada_amit,,Twitter Web App,Nice contest @amazonIN \n#AmazonFunzoneSlots h...
597,mewada_amit,,Twitter Web App,Nice contest @amazonIN \n#DailyQuizTime https:...
598,sophia_marie84,"New York, USA",Twitter for Android,@sufiyanmalik_ @amazonIN @AmazonHelp Amazon be...
599,sandeepsonline,"Mumbai, Maharashtra",Twitter for Android,Try your luck on @amazonIN with #AmazonFunzone...

In [17]:
tweet_Amazon.to_csv("Amazon_travel.csv",index=False)

In [18]:
Amazontravel = pd.read_csv("Amazon_travel.csv")
Amazontravel["product"] = "Travel accessories"
Amazontravel.to_csv("Amazon_travel.csv", index=False)

### Loading data from csv Amazon_Final file

In [19]:
Amazon_Final1 = pd.concat([AmazonBook,Amazongames])
Amazon_Final2 = pd.concat([Amazoncamera,Amazoncare])
Amazon_Final3 = pd.concat([Amazon_Final1,Amazontravel])
Amazon_Final = pd.concat([Amazon_Final2,Amazon_Final3])
Amazon_Final.to_csv("Amazon_Final.csv",index = False)

In [20]:
amazon = pd.read_csv('Amazon_Final.csv')
amazon.head(3000)

,user,location,source,text,product
0,VINODVA10591208,NaN,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...,Camera & Photo Accessories
1,idubeynirbhay,"New Delhi, India",Twitter Web App,@amazonIN payment getting declined repeatedly.,Camera & Photo Accessories
2,aliyaqut,India,Twitter for iPhone,@Flipkart @Paytm @zomato Why don't you guys or...,Camera & Photo Accessories
3,VINODVA10591208,NaN,Twitter for Android,I have ordered myfitfuel gym power on Amazon o...,Camera & Photo Accessories
4,PavanZzz,NaN,Twitter Web App,"@amazonIN Hi, I need to give out gift vouchers...",Camera & Photo Accessories
...,...,...,...,...,...
2186,__Monsees__,"Kochi, India",Twitter for Android,Day 83 and counting. Any update yet @amazon on...,Travel accessories
2187,mewada_amit,NaN,Twitter Web App,Nice contest @amazonIN \n#AmazonFunzoneSlots h...,Travel accessories
2188,mewada_amit,NaN,Twitter Web App,Nice contest @amazonIN \n#DailyQuizTime https:...,Travel accessories
2189,sophia_marie84,"New York, USA",Twitter for Android,@sufiyanmalik_ @amazonIN @AmazonHelp Amazon be...,Travel accessories
2190,sandeepsonline,"Mumbai, Maharashtra",Twitter for Android,Try your luck on @amazonIN with #AmazonFunzone...,Travel accessories

-----------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------

# SnapDeal Products

In [21]:
# Books
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%snapdeal -filter:retweets" + "Books -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_snapdeal = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_snapdeal

Enter how many tweets to search: 600

,user,location,source,text
0,4psNews,,Twitter Web App,Snapdeal’s extensive reach in smaller cities a...
1,Chalta_Purja,Earth,Twitter for iPhone,"Snapdeal, 4 Indian shopping complexes feature ..."
2,Snapdeal_Help,India,OneDirect Suite - P,@AmalKumarPatta1 Hi! We have connected with yo...
3,LondonRagIndia,"Mumbai, India",Hootsuite Inc.,"Best fit for casual, office, travelling, hango..."
4,RealtyNXT,,Twitter Web App,#NewsUpdate | #Snapdeal along with four Indian...
...,...,...,...,...
595,Snapdeal_Help,India,OneDirect Suite - P,@swapnil_science Hi! We regret the inconvenien...
596,Snapdeal_Help,India,OneDirect Suite - P,@AshishArunKarle Hi! We regret the inconvenien...
597,VishwasNavada,Bengaluru | Kundapura,Twitter for Android,Just like how people uninstalled snapdeal inst...
598,Snapdeal_Help,India,OneDirect Suite - P,@_manish_s Hi! So sorry for the trouble. We wi...
599,swapnil_science,,Twitter for Android,"@Snapdeal_Help Its been very old order, still ..."

In [23]:
tweet_snapdeal.to_csv("Snap_book.csv",index=False)

In [24]:
SnapBook = pd.read_csv("Snap_book.csv")
SnapBook["product"] = "Books"
SnapBook.to_csv("Snap_book.csv", index=False)

In [26]:
# Video Games
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%snapdeal -filter:retweets" + "Video  -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_snapdeal = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_snapdeal

Enter how many tweets to search: 600

,user,location,source,text
0,4psNews,,Twitter Web App,Snapdeal’s extensive reach in smaller cities a...
1,Chalta_Purja,Earth,Twitter for iPhone,"Snapdeal, 4 Indian shopping complexes feature ..."
2,Snapdeal_Help,India,OneDirect Suite - P,@AmalKumarPatta1 Hi! We have connected with yo...
3,LondonRagIndia,"Mumbai, India",Hootsuite Inc.,"Best fit for casual, office, travelling, hango..."
4,RealtyNXT,,Twitter Web App,#NewsUpdate | #Snapdeal along with four Indian...
...,...,...,...,...
595,Snapdeal_Help,India,OneDirect Suite - P,@swapnil_science Hi! We regret the inconvenien...
596,Snapdeal_Help,India,OneDirect Suite - P,@AshishArunKarle Hi! We regret the inconvenien...
597,VishwasNavada,Bengaluru | Kundapura,Twitter for Android,Just like how people uninstalled snapdeal inst...
598,Snapdeal_Help,India,OneDirect Suite - P,@_manish_s Hi! So sorry for the trouble. We wi...
599,swapnil_science,,Twitter for Android,"@Snapdeal_Help Its been very old order, still ..."

In [27]:
tweet_snapdeal.to_csv("Snap_video.csv",index=False)

In [29]:
Snapvideo = pd.read_csv("Snap_video.csv")
Snapvideo["product"] = "Vedio Games"
Snapvideo.to_csv("Snap_video.csv", index=False)

In [31]:
# Camera & Photo Accessories
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%snapdeal -filter:retweets" + "Camera -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_snapdeal = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_snapdeal

Enter how many tweets to search: 600

,user,location,source,text
0,4psNews,,Twitter Web App,Snapdeal’s extensive reach in smaller cities a...
1,Chalta_Purja,Earth,Twitter for iPhone,"Snapdeal, 4 Indian shopping complexes feature ..."
2,Snapdeal_Help,India,OneDirect Suite - P,@AmalKumarPatta1 Hi! We have connected with yo...
3,LondonRagIndia,"Mumbai, India",Hootsuite Inc.,"Best fit for casual, office, travelling, hango..."
4,RealtyNXT,,Twitter Web App,#NewsUpdate | #Snapdeal along with four Indian...
...,...,...,...,...
595,Snapdeal_Help,India,OneDirect Suite - P,@swapnil_science Hi! We regret the inconvenien...
596,Snapdeal_Help,India,OneDirect Suite - P,@AshishArunKarle Hi! We regret the inconvenien...
597,VishwasNavada,Bengaluru | Kundapura,Twitter for Android,Just like how people uninstalled snapdeal inst...
598,Snapdeal_Help,India,OneDirect Suite - P,@_manish_s Hi! So sorry for the trouble. We wi...
599,swapnil_science,,Twitter for Android,"@Snapdeal_Help Its been very old order, still ..."

In [32]:
tweet_snapdeal.to_csv("Snap_camera.csv",index=False)

In [33]:
Snapcamera = pd.read_csv("Snap_camera.csv")
Snapcamera["product"] = "Camera & Photo Accessories"
Snapcamera.to_csv("Snap_camera.csv", index=False)

In [40]:
# Beauty And Personal Care
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%snapdeal -filter:retweets" + "Health Care -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_snapdeal = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_snapdeal

Enter how many tweets to search: 600

,user,location,source,text
0,Rakeshm61738514,,Twitter for Android,Hello sir repeleshment kiye Snapdeal Jamshedpu...
1,Rickyist,punjab,Twitter for Android,Don’t buy anything from @snapdeal worst delive...
2,Rickyist,punjab,Twitter for Android,Don’t buy anything from @snapdeal worst delive...
3,Rickyist,punjab,Twitter for Android,Don’t buy anything from @snapdeal worst delive...
4,eu3or,,Twitter for iPhone,@1kunalbahl Don’t buy anything from @snapdeal ...
...,...,...,...,...
65,eu3or,,Twitter for iPhone,@thevirdas Don’t buy anything from @snapdeal w...
66,eu3or,,Twitter for iPhone,@thevirdas Don’t buy anything from @snapdeal w...
67,eu3or,,Twitter for iPhone,@thevirdas Don’t buy anything from @snapdeal w...
68,eu3or,,Twitter for iPhone,@anandmahindra Don’t buy anything from @snapde...
69,eu3or,,Twitter for iPhone,@thevirdas Don’t buy anything from @snapdeal w...

In [41]:
tweet_snapdeal.to_csv("Snap_care.csv",index=False)

In [42]:
Snapcare = pd.read_csv("Snap_care.csv")
Snapcare["product"] = "Beauty And Personal Care"
Snapcare.to_csv("Snap_care.csv", index=False)

In [43]:
# Travel accessories
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%snapdeal -filter:retweets" + "Travel -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_snapdeal = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_snapdeal

Enter how many tweets to search: 600

,user,location,source,text
0,Snapdeal_Help,India,OneDirect Suite - P,"@hemantmx Apologies for this experience, pleas..."
1,hemantmx,Right Here,Twitter for Android,1.orderd jacket on 27th dec\n2. 1st jan app sh...
2,Snapdeal_Help,India,OneDirect Suite - P,@hemantmx Hi! We sincerely apologize for the i...
3,hemantmx,Right Here,Twitter for Android,@snapdeal\n1.orderd jacket on 27th dec\n2. 1st...
4,EDTimesOfficial,India,Twitter for Android,Ex-@ndtv #journalist @Nidhi duped #sophisticat...
...,...,...,...,...
595,addaspark1,,Twitter Web App,"@1kunalbahl Sir, these kind of action or probl..."
596,addaspark1,,Twitter Web App,@snapdeal @Snapdeal_Help What is wrong here? I...
597,copazad,"Chandigarh, India",Twitter for Android,@MattLaemon @amazonIN @mysticsrishti @Tahir_A ...
598,altmodaindia,Noida,Buffer,Altmoda kids printed jumpsuit.\n#altmoda #jump...
599,Snapdeal_Help,India,OneDirect Suite - P,"@OmIndicteam Apologies for this experience, pl..."

In [44]:
tweet_snapdeal.to_csv("Snap_travel.csv",index=False)

In [45]:
Snaptravel = pd.read_csv("Snap_travel.csv")
Snaptravel["product"] = "Travel accessories"
Snaptravel.to_csv("Snap_travel.csv", index=False)

In [46]:
# Loading data from csv Amazon_Final file
Snapdeal_Final1 = pd.concat([SnapBook,Snapvideo])
Snapdeal_Final2 = pd.concat([Snapcamera,Snapcare])
Snapdeal_Final3 = pd.concat([Snapdeal_Final1,Snaptravel])
Snapdeal_Final = pd.concat([Snapdeal_Final2,Snapdeal_Final3])
Snapdeal_Final.to_csv("Snapdeal_Final.csv",index = False)

----------------------------------------------------------------------------------------------------------

# Flipkart Products

In [47]:
# Travel accessories
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%flipkart -filter:retweets" + "Book -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_flipkart = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_flipkart

Enter how many tweets to search: 600

,user,location,source,text
0,It_is_HitS,,Twitter for Android,@KanishakGoyal @belwether_ankur @GemsOfBollywo...
1,TweetTheDeals,,IFTTT,Flipkart Answers\n\nFake Or Not\nCheetah is fa...
2,DealBeeOfficial,India,Twitter Web App,Flipkart New Game : F.Y.I : For Your Informati...
3,DealBeeOfficial,India,Twitter Web App,Flipkart Answers - Fake Or Not (16th Jan.) 👇🏻\...
4,DeviceNXT,"New Delhi, India",Twitter Web App,#SNOKOR’s powerful A10 #Soundbar by Infinix Ma...
...,...,...,...,...
595,kanchan52335498,,Twitter for Android,@Flipkart I have purchased flight tickets\nthr...
596,Moksh52695693,,Twitter Web App,@Flipkart The order I received is a scam they ...
597,RamlakshmanBY,,Twitter Web App,@flipkartsupport I dont want any flipkart acco...
598,GajariaRohit,,Twitter for Android,"@arijitbarman76 You have your Amazon Pay, Goog..."
599,flipkartsupport,India,SocialCS Flipkart,@soumenbanerjee6 Sorry for the miss. Sorry to ...

In [49]:
tweet_flipkart.to_csv("flip_book.csv",index=False)

In [50]:
flipbook = pd.read_csv("flip_book.csv")
flipbook["product"] = "Books"
flipbook.to_csv("flip_book.csv", index=False)

In [51]:
# Video Games
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%flipkart -filter:retweets" + "Games -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_flipkart = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_flipkart

Enter how many tweets to search: 600

,user,location,source,text
0,flipkartsupport,India,SocialCS Flipkart,@being_ethereal As our twitter page is visible...
1,DekhReview,"Kolkata, India",Twitter Web App,Flipkart Quiz 15th January 🔥🔥\n\n💥 Fake Or Not...
2,Aithani_ganesh,"Gurgaon, India",Twitter for iPhone,Upcoming IPOs I think going to invest in.\n1. ...
3,DealsDhamaka,,Twitter Web App,*FLIPKART - Tata Premium Leaf Tea Pouch (1 kg...
4,Amazingdeals360,India,Twitter for Android,"Upcoming| POCO M2 Pro (Out of the Blue, 64 GB)..."
...,...,...,...,...
595,anup_bilchod,"Dublin City, Ireland",Twitter for Android,#Flipkart #FlipkartCustomerService #FlipkartIn...
596,meYuvraj09,"Kodathi, Bengaluru South",Twitter Web App,@ASICS_India @Flipkart Worst service by both \...
597,Shyam02473344,,Twitter Web App,Fraud Flipkart sells defective product for ord...
598,Gadgets360,India's most popular tech site,TweetDeck,Thomson has launched new Android TV-based smar...
599,DEV143RAJPUT,NEW DELHI,Twitter for Android,@Flipkart @flipkartsupport @walmartindia @Walm...

In [52]:
tweet_flipkart.to_csv("flip_games.csv",index=False)

In [54]:
flipgame = pd.read_csv("flip_games.csv")
flipgame["product"] = "Video games"
flipgame.to_csv("flip_games.csv", index=False)

In [55]:
# Camera & Photo Accessories
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%flipkart -filter:retweets" + "Camera -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_flipkart = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_flipkart

Enter how many tweets to search: 600

,user,location,source,text
0,DealsDhamaka,,Twitter Web App,SUPER OFFER FOR KIDS - Kellogg's Chocos Moons ...
1,panaromascandle,,Twitter for Android,Tip of the Day: For votive and glass filled ca...
2,Amazingdeals360,India,Twitter for Android,"UPCOMING | Apple Iphone SE 2020\n\n₹27,999\n\n..."
3,DealBeeOfficial,India,Deal.Bee,"KENSTAR Fresh 10L Water Heater at ₹4,125\n\nht..."
4,dealztrendz,India,Twitter for iPhone,1. Fake Or Not Quiz Answer\n\n1. Not Fake\n2. ...
...,...,...,...,...
595,iShivaTronics,Mumbai,Twitter Web App,Day10 Still Waiting for my replacement Phone i...
596,chayangarg2f,"Gurgaon, India",Twitter for iPhone,@Flipkart flights is a scam. Don’t ever book t...
597,7Deals24,Hyderabad,Twitter Web App,Wonderchef Royal velvet plus set olive Green C...
598,Shyam02473344,,Twitter Web App,Fraud Flipkart sells defective product for ord...
599,TheRightPath20,,Twitter Web App,Flipkart Customer service is the slowest I hav...

In [56]:
tweet_flipkart.to_csv("flip_camera.csv",index=False)

In [57]:
flipcamera = pd.read_csv("flip_camera.csv")
flipcamera["product"] = "Camera & Photo Accessories"
flipcamera.to_csv("flip_camera.csv", index=False)

In [58]:
# Beauty And Personal Care
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%flipkart -filter:retweets" + "Health Care -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_flipkart = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_flipkart

Enter how many tweets to search: 600

,user,location,source,text
0,Dharmen03014197,,Twitter Web App,@_Kalyan_K i am facing this issue from last fe...
1,Aryan97520465,Jaipur,Twitter for Android,OD120600288629663000 i am waiting for return p...
2,rohit9060,"Lucknow, India",Twitter Web App,never buy Flipkart smartbuy products because t...
3,actorTanmay,Thane,Twitter Web App,@flipkartsupport all the details have been sha...
4,DealsDhamaka,,Twitter Web App,*Excited for Republic day sale? Share your int...
...,...,...,...,...
414,sunny002kumar,,Twitter Web App,@Flipkart I want to return my product but I am...
415,tkphani,"Hyderabad, India",Twitter for Android,@Flipkart i lost my mobile number..how can i c...
416,TinkuSharma1,Pune,Twitter for iPhone,@Flipkart @flipkartsupport It’s about a month ...
417,Drakash_,,Twitter for Android,@WorkAtFlipkart \nI am very disappointed with ...
418,sk739dhak,"Jarang Rampur, Bihar, India",Twitter Web App,"@Flipkart and Now, I woke up at 6.48 and saw ..."

In [59]:
tweet_flipkart.to_csv("flip_care.csv",index=False)

In [60]:
flipcare = pd.read_csv("flip_care.csv")
flipcare["product"] = "Beauty And Personal Care"
flipcare.to_csv("flip_care.csv", index=False)

In [61]:
# Travel accessories
NoOfTerms = int(input("Enter how many tweets to search: "))
#new_search = searchTerm + " -filter:retweets""
#new_search
new_search = "%flipkart -filter:retweets" + "Travel -filter:retweets"

tweets = tw.Cursor(api.search,
                       q=new_search,tweet_mode='extended',
                       lang="en").items(NoOfTerms)

users_locs = [[tweet.user.screen_name, tweet.user.location ,tweet.source,tweet.full_text] for tweet in tweets ]
users_locs
tweet_flipkart = pd.DataFrame(data=users_locs, 
                    columns=["user", "location","source","text"])
tweet_flipkart

Enter how many tweets to search: 600

,user,location,source,text
0,13dev_p,"Kanpur, India",Twitter for Android,Hey @Flipkart @flipkartsupport I have my birth...
1,AnjalliRathour,,Twitter for iPhone,@Flipkart @flipkartsupport - I am a vintage cu...
2,Amazingdeals360,India,Twitter for Android,"UPCOMING | Samsung A21s\n\nFrom ₹13,999\n\nhtt..."
3,Amazingdeals360,India,Twitter for Android,"UPCOMING | POCO M2 Pro\n\nFrom 11,999\n\nhttps..."
4,Amazingdeals360,India,Twitter for Android,"UPCOMING | Iphone Xr @ 35,999\n\nhttps://t.co/..."
...,...,...,...,...
595,RajRoshan44,,Twitter for Android,On @Flipkart \nAfter replacement again recieve...
596,RajRoshan44,,Twitter for Android,On @flipkart \nWhat you get 😡 https://t.co/C2P...
597,RajRoshan44,,Twitter for Android,On @flipkart\nWhat you order😇 https://t.co/DZ6...
598,SachdevaRajesh6,,Twitter for Android,@_Kalyan_K Dear sir ..your company flipkart fo...
599,advshubham005,Delhi,Twitter for Android,@mymagicpin I paid through Paytm on your app f...

In [63]:
tweet_flipkart.to_csv("flip_travel.csv",index=False)

In [69]:
fliptravel = pd.read_csv("flip_travel.csv")
fliptravel["product"] = "Travel accessories"
fliptravel.to_csv("flip_travel.csv", index=False)

In [71]:
Flipkart_Final1 = pd.concat([flipbook,flipgame])
Flipkart_Final2 = pd.concat([flipcamera,flipcare])
Flipkart_Final3 = pd.concat([Flipkart_Final1,fliptravel])
Flipkart_Final = pd.concat([Flipkart_Final2,Flipkart_Final3])
Flipkart_Final.to_csv("Flipkart_final.csv",index = False)

In [73]:
flipkart = pd.read_csv('Flipkart_final.csv')
flipkart.head(3000)

,user,location,source,text,product
0,DealsDhamaka,NaN,Twitter Web App,SUPER OFFER FOR KIDS - Kellogg's Chocos Moons ...,Camera & Photo Accessories
1,panaromascandle,NaN,Twitter for Android,Tip of the Day: For votive and glass filled ca...,Camera & Photo Accessories
2,Amazingdeals360,India,Twitter for Android,"UPCOMING | Apple Iphone SE 2020\n\n₹27,999\n\n...",Camera & Photo Accessories
3,DealBeeOfficial,India,Deal.Bee,"KENSTAR Fresh 10L Water Heater at ₹4,125\n\nht...",Camera & Photo Accessories
4,dealztrendz,India,Twitter for iPhone,1. Fake Or Not Quiz Answer\n\n1. Not Fake\n2. ...,Camera & Photo Accessories
...,...,...,...,...,...
2814,RajRoshan44,NaN,Twitter for Android,On @Flipkart \nAfter replacement again recieve...,Travel accessories
2815,RajRoshan44,NaN,Twitter for Android,On @flipkart \nWhat you get 😡 https://t.co/C2P...,Travel accessories
2816,RajRoshan44,NaN,Twitter for Android,On @flipkart\nWhat you order😇 https://t.co/DZ6...,Travel accessories
2817,SachdevaRajesh6,NaN,Twitter for Android,@_Kalyan_K Dear sir ..your company flipkart fo...,Travel accessories
2818,advshubham005,Delhi,Twitter for Android,@mymagicpin I paid through Paytm on your app f...,Travel accessories

--------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------